:host(.success){
  button{
    background-color: #28a745;
    border-color: #28a745;
    &:hover{
      background-color: #218838;
      border-color: #1e7e34;
    }
  }
}

:host(.primary){
  button{
    background-color: #145388;
    border-color: #145388;
    &:hover{
      background-color: #0f3d64;
      border-color: #0f3d64;
    }
  }
}

button{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  user-select: none;
  border-radius: 50px;
  outline: initial!important;
  box-shadow: none!important;
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: .05rem;
  padding: 1rem 3.5rem .9rem;
  color: #fff;
  transition: all .15s ease-in-out;
}
