<div class="quiz-instructions">
  <p class="lead">
    Veuillez lire attentivement les instructions
  </p>
  <hr>
  <p>
  <h3>Consignes générales:</h3>

  <p><strong>Guide d'utilisation</strong></p>
  <p>
    Vous commencez par choisir vos filtres ci-dessous, puis vous cliquez sur Commencer.
  </p>
  <p>
    Pour enregistrer votre progression vous devez cliquer sur le button quitter ou terminer toutes les questions.
  </p>
  <p>
    Vous pouvez écrire un commentaire personnel sur chaque question que vous pourrez consulter ultérieurement après avoir répondu sur cette dernière.
  </p>
  <p>
    Vous pouvez suivre votre progression et avoir une idée sur votre performance grâce à l'élément affiché à droite.
  </p>
  <p>
    Vous avez la possibilité de créer votre playlist personnelle et ajouter vos questions (ex: que vous avez échoué, que vous voulez refaire etc..) grâce au bouton ❤</p>
  <br>
  <p><strong>Raccourcis clavier</strong></p>
  <p>
    <kbd>A</kbd>, <kbd>B</kbd>, <kbd>C</kbd>, <kbd>D</kbd>, <kbd>E</kbd> Pour choisir entre les réponses
    <br>
    <kbd> ESPACE	</kbd> Pour valider votre réponse
    <br>
    <kbd>←</kbd> et <kbd>→</kbd> Pour naviguer entre les questions d'un cours
    <br>
    <kbd>Tab</kbd> Pour afficher les questions d'un cas clinique
    <br>
    <kbd>↑</kbd> et <kbd>↓</kbd> Pour ouvrir et fermer la fenêtre d'explication
    <br>
    <kbd>F11</kbd> Pour le mode plein écran
  </p>
  <hr>
</div>
