:host{
  width: 100vw;
  display: block;
}
.quiz-result-container {
  margin: 150px 140px;
  font-family: Nunito,sans-serif;
  font-weight: 400;
  background: #fff;
  border-radius: .75rem;
  box-shadow: 0 1px 15px rgba(0, 0, 0, .04), 0 1px 6px rgba(0, 0, 0, .04);
  position: relative;
  text-align: center;

  .quiz-result-header{
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: .05rem;
    padding: .75rem 2.6rem .6rem;
    text-align: center;
    white-space: nowrap;
  }

  .quiz-result-body{
    padding: 1.75rem;
    h1{
      font-size: 1.75rem;
      padding-bottom: 10px;
      text-align: center;
    }
    .statistics-container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1.5rem auto;
      .statistics-card{
        @extend .card;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-basis: 48%;
        padding: 1.75rem;
        span{
          font-size: 1rem;
        }
        div{
          width: 80px;
          height: 80px;
        }
      }
    }
    a{
      display: inline-block;
      margin: 1.5rem auto;
      border-radius: .1rem;
      font-size: 1.25rem;
      line-height: 1.5;
      font-weight: 700;
      letter-spacing: .05rem;
      padding: .75rem 2.6rem .6rem;
      background-color: #2a93d5;
      border-color: #2a93d5;
      color: #fff;
    }
  }

}

.success{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.error{
  background-color: #dc3545;
  border-color: #dc3545 !important;
  color: #fff !important;
}

.card{
  background: #fff;
  border-radius: .75rem;
  box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
}
