.btn-outline-semi-light {
  border: 1px solid hsla(0, 0%, 100%, .3);
  color: #fff;
  background: transparent;
}
.btn-outline-semi-dark{
  border: 1px solid #0d385c;
  background: #0d385c;
}
