@import "src/app/vars";

.verify-container{
  margin: auto;
  text-align: center;
}
.verify-header{
  margin: 2rem auto;
  text-align: center;
}
.verify-text{
  margin: 2rem auto;
  text-align: center;
}
