:host{
  width: 100vw;
  display: block;
}
.quiz-filters-container{
  margin: 150px 140px;
  background: #fff;
  border-radius: .75rem;
  box-shadow: 0 1px 15px rgba(0,0,0,.04), 0 1px 6px rgba(0,0,0,.04);
  height: 65vh ;
  overflow-x: hidden ;
  overflow-y: scroll;
  position : relative ;
  padding: 1.75rem;

  .quiz-filters-form{
    display: flex;
    flex-direction: row;


    .quiz-filters-difficulty{
      flex-basis: 20%;
      padding: 1rem 1.5rem;
    }
    .quiz-filters-type{
      @extend .quiz-filters-form-col
    }
    .quiz-filters-preference{
      @extend .quiz-filters-form-col
    }
    .quiz-filters-source {
      @extend .quiz-filters-form-col
    }
  }
}

.quiz-filters-form-col{
  flex-basis: 25%;
  padding: 1rem 1.5rem;
}

h6 {
  font-size: 1rem;
}




