<div class="blue-gradient-container">
  <div class="app-card">
    <app-logo height="35px" width="110px" [white]="false"></app-logo>
    <div class="app-card-container">
      <h3 class="app-card-header">Réinitialisation du mot de passe</h3>
      <form class="login-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <app-form-field label="EMAIL" name="email" ></app-form-field>
        <app-btn-primary class="primary" text="Envoyer un mail de réinitialisation"></app-btn-primary>
      </form>
      <p class="app-card-text" *ngIf="isSubmited">
        Un email de réinitialisation de mot de passe vous a été envoyée , Merci d'aller verifier votre email et cliquer sur le boutton <b>Changer de mot de passe</b>
      </p>
    </div>


  </div>
</div>

