<div class="blue-gradient-container">
  <div class="app-card">
    <app-logo height="35px" width="110px" [white]="false"></app-logo>
    <div class="app-card-container">
      <h3 class="app-card-header">Réinitialisation du mot de passé</h3>
      <form class="login-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <app-form-field label="EMAIL" name="email" ></app-form-field>
        <app-form-field label="NOUVEAU MOT DE PASS" name="password" type="password"></app-form-field>
        <app-form-field label="CONFIRMATION DU NOUVEAU MOT DE PASSE" name="password_confirmation"  type="password"></app-form-field>
        <app-btn-primary class="primary" text="Mettre a jour votre mot de passe"></app-btn-primary>
      </form>
      <p class="app-card-text" *ngIf="errors">
            {{errors}}
      </p>
      <p class="app-card-text" *ngIf="completed">
        Votre mot de passe a bien été mis a jour !
        <app-btn-primary class="primary" (clicked)="goToLogin()" text="LOGIN"></app-btn-primary>
      </p>
    </div>


  </div>
</div>

